body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 16px; /* Размер базового шрифта */
    background: linear-gradient(to right, rgb(255, 116, 105), rgb(253, 64, 97));
    overflow: hidden;
}

.container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

/* Шапка */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    font-size: 2rem; /* Размер шрифта в шапке */
    color: darkgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Контейнер для изображения */
.viewportImg {
    position: absolute;
    top: 9vh; /* Расстояние от верха страницы */
    left: 0;
    width: 100%;
    bottom: 0;
    background-image: url(..//images/Tittle_mystery1.png);
    background-size: cover;
}

/* Кнопка */
.btnPlayMarket {
    position: absolute;
    top: 60vh; /* Расстояние от верха страницы */
    left: 40vw;
    transform: translateX(-50%);
    border-radius: 15%;
    box-shadow: 0.5rem 0.5rem 0.5rem rgb(30, 24, 24);
    background-image: url(../images/Google-Play-New-Logo.png);
    background-size: contain;
    background-position: center;
    width: 14rem; /* Ширина кнопки */
    height: 8rem; /* Высота кнопки */
}

.btnPlayMarket:hover {
    background-color: transparent;
}

/* Медиазапрос для адаптивности */
@media (max-width: 768px) {
    .header {
        font-size: 1.5rem;
        flex-direction: column;
        text-align: center;
    }

    .btnPlayMarket {
        top: 75vh; /* Расстояние от верха страницы */
    }
}

.privacy
{
    width: 600px;
    max-height: 900px;
    margin: 10px auto;
    background-color: rgb(30, 18, 30);
    padding: 0 20px 20px 20px;
    color: darkgray;
    overflow: auto;
    scrollbar-color: brown;
}

a
{
    color: darkgray;
}